.story-container {
  position: relative;
  display: flex;
  flex: 1;
}

.flipper-container, .flipper {
  display: flex;
  flex: 1;
}

.flipper-container.active {
  transform: rotateY(180deg);
}

.flipper-container {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  perspective: 1000px;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  color: #e2e4e9;
  transform: rotateY(180deg);
}

.story-image-container, .story-text {
  z-index: 2;
}

.story-overlay {
  position: absolute;
  opacity: 0.5;
  background: grey;
  height: 100%;
  width: 100%;
}
.story-text-container {
  display: flex;
  justify-content: center;
}
.story-text {
  color: #e2e4e9;
  display: flex;
  justify-content: center;
  width: 80%;
  height: 30%;
  align-items: center;
}

@media(max-width: 767px) {
  .story-image-container {
    width: 100%;
    display: flex;
    opacity: 0.9;
  }
  .story-image {
    height: 100%;
    width: 100%;
    opacity: 0.9;
  }
}

@media(min-width: 431px) {
  .story-image-container {
    min-width: 36%;
    flex: 1 0;
    display: flex;
    opacity: 0.9;
  }
}
