@media(max-width: 767px) {
  .app-background {
    background-size: 140%;
    background-attachment: initial;
    height: auto;
    width: 100%;
  }
}

@media(min-width: 768px) {
  .app-background {
    background-size: 100%;
  }
}

.content-container {
  display: flex;
  /* flex: 1; */
  justify-content: center;
}

.content-page-enter {
  opacity: 0;
  transform: translateX(100%);
}

.content-page-enter-active {
  opacity: 0;
  transform: translateX(0%);
  transition: opacity 200ms, transform 200ms;
}

.content-page-enter-done {
  opacity: 1;
  transition: opacity 200ms;
}

.content-page-exit {
  opacity: 0.5;
  transform: translateX(0%);
}

.content-page-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 200ms, transform 200ms;
}

.full-page > div {
  display: flex;
  flex: 1
}