html, body, #root, .App {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.non-splash-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 1rem;
  background-color: #f8f8f8;
}

.btn:not(disabled).btn:hover, .btn:not(disabled).btn:focus {
  transform: scale(1.1);
  transition: all 0.5s;
}